body {
    text-align: center;
    margin-top: 50px;
  }
  .screen {
    display: none;
  }
  .active {
    display: block;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
 