.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#take-quiz {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}

#take-quiz a {
    text-decoration: none;
    color: black;
}

body {
    background-color: lemonchiffon;
    /* idk, prob gonna change color later */
}