body {
    text-align: center;
    margin-top: 50px;
  }
  .screen {
    display: none;
  }
  .active {
    display: block;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
 
  /* flag image */

  #flag {
    width: 200px;
    height: 125px;
    border: 2px solid gray;
    border-radius: 4px;
    margin: 20px 0;
  }